// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.

$v-app-loading-text: "==> SIIComeii by Tiamex 2<==";
$v-font-size: 18px;
//$v-font-weight: 400;
//$v-font-family: "Montserrat","Open Sans", sans-serif;
$v-app-background-color: #e8f1fc;

//$v-background-color: #e8f1fc;

//$v-focus-color: #0072C6;
//$v-focus-color: #0081E0;
//$v-focus-style: 0 0 0 1px $v-focus-color;
//$valo-menu-background-color: darken($v-focus-color, 10%);
//$v-border: 0 solid v-shade;
//$v-border-radius: 5px;
//$v-bevel: false;
//$v-gradient: true;
//$v-shadow: true;
//$v-textfield-bevel: false;
//$v-textfield-shadow: false;
//$v-textfield-border: 1px solid v-shade;
//$v-link-text-decoration: none;
//$v-overlay-shadow: 0 0 0 1px #000;
//$v-overlay-border-width: 1px; // For IE8
//$v-window-shadow: $v-overlay-shadow;
//$v-selection-overlay-background-color: #fff;
//$v-selection-overlay-padding-horizontal: 0;
//$v-selection-overlay-padding-vertical: 3px;
//$v-panel-border: 1px solid v-shade;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

//----------> Extra Variables
//$font-white: #ffffff;

@import "../valo/valo.scss";

@mixin siiComeiiTheme{
    @include valo;
    .v-grid-row-selected > .v-grid-cell, .v-overlay-container .v-grid-row-selected > .v-grid-cell{
        background-color: #A4A4A4;
        background-image: -webkit-linear-gradient(top, #A4A4A4 2%, #A4A4A4 98%);
        background-image: linear-gradient(to bottom,#A4A4A4 2%, #A4A4A4 98%);
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
        border-color: #414141;
    }
    // Insert your own theme rules here
}
