@import "siiComeiiTheme.scss";
@import "addons.scss";
// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in aguaLimpiaTheme.scss

.siiComeiiTheme{
    @include addons;
    @include siiComeiiTheme;
    .v-filterselect-item-websR {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: bold;
    }
    .v-filterselect-item-noWebsR {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        color: rgba(25, 25, 25,0.4) !important;
        cursor: default !important;
        //override from inherited selected item
        background-color: white !important;
        background-image: none !important;
        background-image: none !important;
    }

    .v-filterselect-searchbox:before {
        font-family: FontAwesome;
        content: "\f002";
        left: 10px;
        position: absolute;
        top: 5px;
        //line-height: 50px;
    }
    
    
    .v-filterselect-searchbox .v-filterselect-input{
        padding-left: 30px;
    }


    .v-panel-caption-captionPanelNoPadding{
        line-height: 35px;
        font-size: 13px;
    }
    
    .v-menubar-menuMonths{
        //left: 405px !important;
        //top: 300px !important;
        @include valo-menubar-popup-style($primary-stylename: "v-menubar");
        color: red;
    }
    
    .rl-row-custom-row{
        padding: 10px 10px 0px;
    }
    
    .rl-row-custom-row2{
        padding: 0px 10px 10px;
    }
    
    .v-label-label-error-info{
        color:red;
        padding: 0px !important;
        margin: 0px !important;
    }
    
    .topbar{
        margin-left: 0px ; 
        margin-top: 0px ; 
        z-index: 20000 ; 
        position: absolute ; 
        overflow: visible ; 
        visibility: visible ;
        top: 0px !important;
    }
    
    .colMargin{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .v-panel-caption-captionColor{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 12px;
        line-height: 36px;
        border-bottom: none;
        margin-bottom: 1px;
        background-color: #3b5998;
        background-image: -webkit-linear-gradient(top, #3b5998 2%, #3b5998 98%);
        background-image: linear-gradient(to bottom,#3b5998 2%, #3b5998 98%);
        color: #eceff4;
        font-weight: 400;
        font-size: 14px;
        -webkit-box-shadow: inset 0 1px 0 #3b5998, inset 0 -1px 0 #3b5998, 0 0 0 1px #3b5998;
        box-shadow: inset 0 1px 0 #3b5998, inset 0 -1px 0 #3b5998, 0 0 0 1px #3b5998;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
    }
    //#
    .v-panel-caption-blue{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 12px;
        line-height: 36px;
        border-bottom: none;
        margin-bottom: 1px;
        background-color: #197de1;
        background-image: -webkit-linear-gradient(top, #197de1 2%, #197de1 98%);
        background-image: linear-gradient(to bottom,#197de1 2%, #197de1 98%);
        color: #eceff4;
        font-weight: 400;
        font-size: 14px;
        -webkit-box-shadow: inset 0 1px 0 #197de1, inset 0 -1px 0 #197de1, 0 0 0 1px #197de1;
        box-shadow: inset 0 1px 0 #197de1, inset 0 -1px 0 #197de1, 0 0 0 1px #197de1;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
    }
    
    .v-customlayout-customGridBox{
        background-color: rgba(25,125,225,0.8);
        color:white;
        padding: 10px;
        border-radius: 5px;
    }
    
    .v-customlayout-customGridBox:hover{
        box-shadow: 0 0 20px rgba(25,125,225,1);
    }
    
    .contenedor:hover{
        //box-shadow: 0 0 15px rgba(25,125,225,1); 
    }
}
